/* frontend/src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');

body {
  margin: 0;
  font-family: 'Vazir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Font Vazir fallback */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir/Vazir-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir/Vazir-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir/Vazir-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}